.search{
    width: 100%;
    margin: 16px 0 20px;
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    box-shadow: 0px 5px 4px rgba(99, 92, 92, 0.5);
}
.search__form{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.search__form-field{
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
}
.search__error{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    color: #FF4062;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 15px);
    left: 0;
}
.search__error_show{
    visibility: visible;
}
.search__input{
    border: none;
    padding: 0 0 0 10px;
    width: calc(100% - 35px);
}
.search__button{
    width: 25px;
    height: 25px;
    background-image: url('../../images/39.png');
    background-size: cover;
    padding: 0;
    background-color: transparent;
    border: none;
    margin: 6px;
}
.search__button:hover{
    cursor: pointer;
    opacity: 0.8;
}
@media screen and (max-width: 1023px){
    .search{
        width: calc(100% - 60px);
        margin: 12px 30px 20px;
    }
}
@media screen and (max-width: 767px){
    .search{
        width: calc(100% - 20px);
        margin: 10px 10px 20px;
    }
}